/* Normal Body Stuff */

body {
	margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.4;
	overflow-x: hidden;
}
#megawrap {
	overflow-x: hidden;
	position: relative;
}
h1 {
	text-align: center;
	font-size: 4em;
    margin: 0 auto;
    color: #ffffff;
}
h2 {
	text-align: center;
	font-size: 3em;
    margin: 0 auto;
    color: #ffffff;
}
h3 {
	text-align: center;
	font-size: 2em;
	margin: 0 auto;
	color: #ffffff;
}
p {
	text-align: center;
    font-size: 1.25em;
    color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
}
table {
	color: white;
	font-size: 1.5em;
	margin: 0 auto;
	text-align: center;
	border-collapse: collapse;
	margin-top: 50px;
}
td{
	border: 1px solid white;
	border-radius: 10px;
	padding: 10px;
}
#brass-gauge {
	position: fixed;
	bottom: 2%;
	right: 2%;
	width: 150px;
	z-index: 1000;
}
#gauge-meter {
	position: fixed;
	bottom: .75%;
	right: 2%;
	z-index: 1001;
	width: 150px;
	height: 90px;
	text-align: center;
}
#gauge-meter p {
	color: #444444;
	margin: 0;
	padding: 0;
}


/* Everything within the Surface */

.title-area {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	top: 30vh;
}
div#surface {
	background-color: #b3ecff;
	height: 100vh;
	position: relative;
}
div#surface h1 {
	color: #03a1fc;
}
div#surface p {
	color: #03a1fc;
}
div#waves {
	margin: 0;
	max-height: 100vh;
	overflow: hidden;
	padding: 9em 0 0 0;
}
.parallax>use {
	animation: move-forever 12s linear infinite;
}
.parallax>use:nth-child(1) {
	animation-delay: -2s;
}
.parallax>use:nth-child(2) {
	animation-delay: -2s;
	animation-duration: 5s;
}
.parallax>use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 3s;
}
.editorial {
	display: block;
	width: 100%;
	height: 10em;
	max-height: 100vh;
	margin: 0;
	position: absolute;
	bottom: 0;
}
@media (max-width: 50em) {
	.editorial {
		height: 17vw;
	}
}
#epipelagic {
	background: linear-gradient(#3DB6FD, #35A8EB);
	height: 2000px;
}
#epipelagic-text {
	z-index: 100;
	position: relative;
}
#mesopelagic {
	background: linear-gradient(#35A8EB, #176391);
	height: 8000px;
	position: relative;
}
#bathypelagic {
	background: linear-gradient(#176391, #06151F);
	height: 30000px;
}
#abyssopelagic {
	background: linear-gradient(#06151F, #000000);
	height: 20000px;
}
#hadalpelagic {
	background-color: #000000;
	height: 50000px;
}


/* Buildings! */
/* Calculate the top property by subtracting the height of the zone by the height of the building times 10 */

#eiffel-text {
	position: absolute;
	top: 1240px;
}

/* Creatures! */

#seagull-1 {
	height: 100px;
	animation: bird-flying 7s linear infinite;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 3;
}
#seagull-2 {
	height: 75px;
	animation: bird-flying-reverse 8s linear infinite;
	animation-delay: 3s;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	z-index: 2;
}
#sea-turtle {
	height: 300px;
	width: auto;
	animation: turtle-swimming 15s linear infinite;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 1;
}
#dolphin-whole {
	width: 700px;
	animation: dolphin-swimming 10s linear infinite;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 3;
}
#seaweed {
	width: 400px;
	overflow: hidden;
	margin: 0;
	margin-top: -300px;
	margin-left: -75px;
	padding: 0;
	position: absolute;
	z-index: 3;
}
#seaweed-flipped {
	width: 550px;
	overflow: hidden;
	margin: 0;
	margin-top: -300px;
	right: -75px;
	padding: 0;
	position: absolute;
	z-index: 3;
}
#eel {
	width: 200px;
	animation: eel-poking 5s cubic-bezier(0.215, 0.610, 0.355, 1) infinite;
	overflow: hidden;
	margin: 0;
	margin-top: 150px;
	right: 100px;
	padding: 0;
	position: absolute;
	z-index: 2;
}

/* Animation Keyframes in the order in which they appear */

@keyframes bird-flying {
	0% {
		transform: translate(100vw, 100px);
	}
	100% {
		transform: translate(-100vw, 300px);
	}
}
@keyframes bird-flying-reverse {
	0% {
		transform: translate(-100vw, 600px);
		visibility: visible;
	}
	100% {
		transform: translate(100vw, 400px);
	}
}
@keyframes move-forever {
	0% {
		transform: translate(-90px, 0%);
	}
	100% {
		transform: translate(85px, 0%);
	}
}
@keyframes turtle-swimming {
	0% {
		transform: translate(-100vw, 150px)
	}
	100% {
		transform: translate(100vw, 500px)
	}
}
@keyframes dolphin-swimming {
	0% {
		transform: translate(100vw, 450px)
	}
	100% {
		transform: translate(-100vw, 700px)
	}
}
@keyframes eel-poking {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(-100px);
	}
	100% {
		transform: translateX(0px);
	}
}